body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: #1374d4;
}

a {
  color: #00b7ff;
}

.login {
  border: 3px solid rgb(255, 255, 255);
  border-radius: 20px;
  width: 250px;
  text-align: center;
  margin: auto;
  padding: 20px;
}

table {
  margin: auto;
  padding: 10px;
  border: 3px solid grey;
}


