<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <table>
        <tr>
            <td>Id</td>
            <td>Username</td>
            <td>Email</td>
            <td>Gender</td>
            <td>Score</td>
        </tr>

        <% for (let i=0; i<alluser.length; i++){%>
            <!-- <%let MM=new Date(alluser[i].birth_date).getMonth() %>
                <%let DD=new Date(alluser[i].birth_date).getDate() %>
                    <%let YYYY=new Date(alluser[i].birth_date).getFullYear() %>-->
            <%let date=`${MM}/${DD}/${YYYY}` %>
                <tr>
                    <td>
                        <%= alluser[i].UserUser.id%>
                    </td>
                    <td>
                        <%= alluser[i].UserUser.username%>
                    </td>
                    <td>
                        <%= alluser[i].email%>
                    </td>
                    <td>
                        <%= alluser[i].gender%>
                    </td>
                    <td>
                        <%= alluser[i].score%>
                    </td>
                    <td>-</td>
                    <td>-</td>
                    <td style="display: flex">
                        <a href="/users/update/<%=alluser[i].id%>"><button>Edit</button></a>
                        <a href="/users/delete/<%=alluser[i].UserUserId%>"><button>Delete</button></a>
                    </td>
                </tr>
                <%}%>
    </table>
</body>

</html>