<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <div class="login-container">
        <div class="login">
            <form method="POST" action="">
                <label for="username">USERNAME:</label><br />
                <input type="text" id="username" name="username" value="" /><br />
                <br />
                <label for="password">PASSWORD:</label><br />
                <input type="password" id="password" name="password" value="" /><br /><br />
                <input type="submit" value="login" />
                <input type="submit" value="register" formaction="/users/register" formmethod="GET" />
            </form>
        </div>
    </div>
</body>

</html>