<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <div class="login-container">
        <div class="login">
            <form method="POST" action="">
                <label for="username">Username:</label><br />
                <input type="text" id="username" name="username" value="" /><br />
                <br />
                <label for="password">Password:</label><br />
                <input type="password" id="password" name="password" value="" /><br /><br />
                <label for="gender">Gender(Male/Female):</label><br />
                <input type="text" id="gender" name="gender" value="" /><br /><br />
                <label for="email">Email:</label><br />
                <input type="email" id="email" name="email" value="" /><br /><br />
                <input type="submit" value="register" />
                <input type="submit" value="back to login" formmethod="GET" formaction="users/login" />
            </form>
        </div>
    </div>
</body>

</html>