<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <div class="login-container">
        <div class="login">
            <form method="POST" action="">
                <label for="email">Email:</label><br />
                <input type="email" id="email" name="email" value="<%=UserBiodata.email%>" />
                <br />
                <br />
                <input type="submit" value="Update" />
                <input type="submit" value="Cancel" formmethod="GET" formaction="/dashboard" />
            </form>
        </div>
    </div>
</body>

</html>